# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. SciPy
5. PyTorch
6. Seaborn

| Data Science Tools|
--------------------
|RStudio|
|Apache Spark|
|TensorFlow|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [9]:
#t his will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## H2: Author
Kateryna Kameniuk